body {
    margin: 0;
    color: #030616;

    /* font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* .inter-default {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} */

h1 {
    font-size: 2.25rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: #4E80EE;
    text-decoration: none;
    font-weight: 300;
}

ol, ul {
    padding-inline-start: 20px;
}

hr {
    background-color: #D2D5DA;
    border: none;
    height: 1px;
}

div {
    padding: 20px 0;
}

.page {
    padding: 0;
}

.center {
    background-color: #F8FAFC;

    /* allows you to change the color of the WHOLE background via this element's bg color */
    padding-left: 25%;
    padding-right: 25%;
}

.header {
    text-align: center;
    padding: 50px 0;;
}

.qna {
    background-color: #F8FAFC;
}

.answer {
    padding: 0;
}